.navbar {
  background-color: white;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

.navbar > div {
  margin: 0 20px; /* Ajouter de l'espace entre les éléments si nécessaire */
  display: flex;
  align-items: center;
}

.navbar > div > img {
  margin-right: 5px;
  height: 50px;
}
