<div class="header">
  <div class="left">
    <div class="hamburger">
      <img class="hamburger-image" src="assets/icons/hamburger.png" />
    </div>
  </div>

  <div class="center">
    <div class="logo" (click)="navigateToHome()">
      <img class="logo-image" src="assets/images/logo.png" />
    </div>
  </div>

  <div class="right">
    <div class="profile">
      <img class="love-image" src="assets/icons/love.png" />

      <div>
        <img class="profile-image" src="assets/icons/avatar.png" />
        <span>Amélie</span>
      </div>
    </div>
  </div>
</div>
