@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-image: url('assets/images/background.JPG');
  background-size: cover;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.background-overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 228, 209, 0.5);
  z-index: -1;
  pointer-events: none; /* Permet aux éléments du contenu d'être cliquables */
}